<div class="row">
  <div class="container col-6 mt-5">
    <h2>Nueva transferencia</h2>
    <%= simple_form_for(@movement) do |f| %>
    <%= f.association :bank_account, label:"Cuenta Bancaria", collection: @bank %>
    <%= f.association :fintoc_account, label:"Tipo de cuenta", collection: FintocAccount.fintoc_accounts_index(current_user, @bank) %>
    <%= f.input :amount, label: "Cuanto deseas transferir? ($)", class: "form-control" %>
    <%= f.association :recipient_account, label:"A quien le vas a transferir", collection: current_user.recipient_accounts.map { |recipient| [recipient.holder_name, recipient.id] } %>
    <%= f.input :description, as: :text, label: "Escribe una corta descripción de su transferencia", class: "form-control", input_html: { maxlength: 3000 } %>
    <div class="row">
      <div class="col-6">
        <%= f.submit "Confirma transferencia", class: "btn btn-primary-confirma mt-3" %>
      </div>
      <div class="col-6 text-end">
        <button type="button" class="btn btn-primary-nuevo mt-3" data-bs-toggle="modal" data-bs-target="#NuevoDestinatarioModal"> Agregar nuevo destinatario </button>
      </div>
    <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="NuevoDestinatarioModal" tabindex="-1" aria-labelledby="NuevoDestinatarioModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="container-NuevoDestinatario">
              <div class="card-info-NuevoDestinatario text-left py-2">
                <div>
                  <p>Completa los datos</p>
                </div>
                <%= simple_form_for(@recipient_account) do |f| %>
                <%= f.input :holder_id, label: "R.U.T", input_html: { maxlength: 9 }, input_html: { minlength: 9 } %>
                <%= f.input :holder_name, label: "Nombre destinatario" %>
                <%= f.input :number, label:"Numero de cuenta" %>
                <%= f.input :institution, label: "Banco" %>
                <%= f.submit "Agregar destinatario", class: "btn btn-primary-AgregarDestinatario mt-3" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
