<div class="container puntitos-sin-100vh d-flex flex-column justify-content-center align-items-center">
  <div class="col-6 my-5 d-flex flex-column justify-content-center align-items-center eighty-height">

    <div class="container-custom-outline-profile bg-white p-5">
      <div class="d-flex justify-content-between">
        <div class="me-3">
        <h4>Listo! Tu pago ya se acredit칩</h4>
        </div>
        <div class="ms-3">
        <%= image_tag "purple-checkmark.png", alt: "Marca de verificaci칩n", id:"purple-checkmark" %>
        </div>
      </div>

      <p>Pagaste $<%= number_with_delimiter(try_integer(@movement.amount), delimiter: ".", separator: ",") %></p>
      <p><%= @movement.recipient_account.holder_name %> recibir치 tu pago en menos de 24 horas.</p>
      <p class="small-font-gray">Operaci칩n #<%= @movement.id %></p>
      <%= link_to "Volver a mi Dashboard", dashboard_path, class:"btn btn-purple-EditarPerfil" %>
    </div>
  </div>
</div>
