  <!-- <div class="row">

    <div class="col-2">
      <%= render "shared/sidebar" %>
    </div>
      <div class="col-6 py-5">
        <div class="col-12">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs col-12 pt-3 mx-5">
              <%= f.input :email, required: true, autofocus: true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

              <%= f.input :password,
                          hint: "leave it blank if you don't want to change it",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :current_password,
                          hint: "we need your current password to confirm your changes",
                          required: true,
                          input_html: { autocomplete: "current-password" } %>
            </div>

            <div class="form-actions py-5 mx-5">
              <%= f.button :submit, "Update", class: "btn btn-primary"  %>
            </div>
          <% end %>

          <div class="row">
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
          </div>
          <h3>Cancel my account</h3>


           <%= link_to "Back", :back %> -->
       <!-- </div>
      </div>

  </div> -->
<div class="row">
    <div class="col-2">
      <%= render "shared/sidebar" %>
    </div>
    <div class="col-6 position-absolute top-50 start-50 translate-middle">
          <div class="py-5 mx-5">
            <h3>Edita tu perfil</h3>
          </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs col-12 pt-3 mx-5">
                <div class="baige-rounded-box px-3">
                  <%= f.input :email, required: true, autofocus: true %>
                </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                  <% end %>
                <div class="baige-rounded-box px-3">
                  <%= f.input :password,
                              hint: "No pongas nada si no quieres cambiarla",
                              required: false,
                              input_html: { autocomplete: "new-password" } %>
                </div>
                <div class="baige-rounded-box px-3">
                  <%= f.input :password_confirmation,
                              required: false,
                              input_html: { autocomplete: "new-password" } %>
                </div>
                <div class="baige-rounded-box px-3">
                  <%= f.input :current_password,
                              hint: "Necesitamos tu clave actual para poder hacer los cambis",
                              required: true,
                              input_html: { autocomplete: "current-password" } %>
                </div>
              </div>


          <div class="row pt-3 mx-5">
            <div class="col-4">
              <%= button_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary purple-btn" %>
            </div>
            <div class="col-4">
              <%= f.button :submit, "Actualizar", class: "btn btn-outline-primary purple-btn"  %>
            </div>
            <div class="col-4">
              <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro que queires eliminar tu cuenta?", turbo_confirm: "Estas seguro que queires eliminar tu cuenta?" }, method: :delete, class: "btn btn-danger red-btn" %>
            </div>
          </div>

      <% end %>
    </div>
</div>
