<p style="color: green"><%= notice %></p>

<%= render @paypopup %>

<div>
  <%= link_to "Edit this paypopup", edit_paypopup_path(@paypopup) %> |
  <%= link_to "Back to paypopups", paypopups_path %>

  <%= button_to "Destroy this paypopup", @paypopup, method: :delete %>
</div>
