<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="d-flex mx-3 w-100">
    <%= link_to "/", class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "WoletHub.svg", class: "logo", alt: "Logo" %>
    <% end %>

    <div id="navbarNavLeft" class="d-flex align-items-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Nosotros", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Qué hacemos", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex ms-auto">
        <% if user_signed_in? %>
          <a href="#" class="btn btn-outline-primary me-2">Profile</a>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-primary me-2" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary me-2 btn-login-navbar" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-signup-navbar" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
