<div class="container">


  <%= pie_chart @balances%>

      <p>Balance total: <%= @balances %></p>


      <%# @banks.each do |bank| %>
        <div class="baige-rounded-box d-flex">
          <div>
            <h3> Banco de Chile<%#= bank.name %></h3>
          </div>
          <div>
            <h3>999999<%#= bank.fintoc_account.balances.available %></h3>
          </div>
        </div>
      <%# end %>


  <h3>Transacciones Recientes</h3>
  <% @recent.each do |movement| %>
    <p>ID: <%= movement['id'] %>, Monto: <%= movement['amount'] %> <%= movement['currency'] %>, Descripción: <%= movement['description'] %></p>
  <% end %>

  <h3>Favoritos</h3>
  <% @favorites.each do |favorite| %>
    <%= favorite.recipient_account.holder_name %>
  <% end %>
</div>

</div>
