<div class="container">


  <%= pie_chart @balances%>

      <p>Balance total: <%= @balances %></p>


      <% @banks.each do |bank| %>
        <div class="baige-rounded-box d-flex justify-between">
          <div>
            <h5><%= bank.name %></h5>
          </div>
          <div>
            <% bank.fintoc_accounts.each do |fintoc| %>
              <h5><%= fintoc.balance.available %></h5>
            <% end %>
          </div>
        </div>
      <% end %>


  <h3>Transacciones Recientes</h3>
  <% @recent.each do |movement| %>
    <p>ID: <%= movement['id'] %>, Monto: <%= movement['amount'] %> <%= movement['currency'] %>, Descripción: <%= movement['description'] %></p>
  <% end %>

  <h3>Favoritos</h3>
  <% @favorites.each do |favorite| %>
    <%= favorite.recipient_account.holder_name %>
  <% end %>
</div>

</div>
