<div class="container">
  <!-- <a href=" https://webview.fintoc.com/widget?public_key=pk_test_xwUGiHD3-zsftKEioAvCGjAk6qQrTS65&holder_type=individual&product=payments&country=cl&widget_token=pi_eXp1RgSrrpXzwWbo_sec_243qdULijvvD9Tc4fo6FGz6F -->
  <!-- ">Pagar transacción</a> -->

  <%= pie_chart @balances_data %>

  <% @banks.each do |bank| %>
    <div class="baige-rounded-box d-flex justify-between">
      <div>
        <h5><%= bank.name %></h5>
      </div>
      <div>
        <% bank.fintoc_accounts.each do |fintoc| %>
          <h5><%= fintoc.balance.available %></h5>
        <% end %>
      </div>
    </div>
  <% end %>

  <h3>Transacciones Recientes</h3>
  <% @recent.each do |movement| %>
    <p>ID: <%= movement['id'] %>, Monto: <%= movement['amount'] %> <%= movement['currency'] %>, Descripción: <%= movement['description'] %></p>
  <% end %>

  <h3>Favoritos</h3>
  <% @favorites.each do |favorite| %>
    <%= favorite.recipient_account.holder_name %>
  <% end %>
</div>
