<script src=“https://js.fintoc.com/v1/”></script>
<script>
  window.onload = () => {
    const widget = Fintoc.create({
      publicKey: 'sk_test_929tBk2rVGgU6qKZVk_a4ajVRRL-rGaR',
      holderType: 'individual',
      product: 'movements',
      webhookUrl: 'https://hot-cars-stand.loca.lt/data_fintoc',
      onSuccess: (link) => {
        console.log('Success!');
        console.log(link);
      },
      onExit: () => {
        console.log('Widget closing!');
      },
      onEvent: (event) => {
        console.log('An event just happened!');
        console.log(event);
      },
    });
     widget.open();
  };
</script>


<div class="container main-container my-5">
  <!-- Container 1: Text on Left, Image on Right -->
  <div class="container my-4">
    <div class="row my-4">
      <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
        <div class="mb-4 text-right">
          <h2>La forma más fácil de ver todas tus finanzas en un solo lugar</h2>
        </div>
        <div class="text-right">
          <p>Ve los balances de todas tus cuentas bancarias y de tus cryptomendas, tambien puedes hacer trasnferencias!</p>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <%= image_tag "Mockup Home.png", alt: "Placeholder Image", class:"img-fluid mx-auto d-block" %>
      </div>
    </div>
  </div>



  <div class="container my-4 container-custom-outline py-1 px-5" style="background: radial-gradient(circle, #cbcbcb 10%, transparent 11%);
        background-size: 1em 1em;
        background-color: #ffffff;
        opacity: 1;
        height: 250px;">
    <div class="row my-4">
        <div class="mb-4 text-center">
          <h2><strong>¿Quieres probar wolethub</strong> <em>GRATIS</em> ?</h2>
        </div>
        <div class="text-center">
          <p><strong>Que estas esperando para ordenar tus finanzas!</strong></p>
        </div>
        <div class="text-center">
          <%= link_to "Unete!", "#", class: "btn btn-primary btn-unete" %>
        </div>
    </div>
  </div>

  <!-- Container 2: Image on Left, Text on Right -->
  <div class="container my-4 container-custom py-1 px-5" style="height: 350px;">
    <div class="row my-4">
      <div class="col-md-6 d-flex justify-content-center">
        <%= image_tag "Online.png", alt: "Placeholder Image", class: "rounded mx-auto d-block"%>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
        <div class="mb-4 text-left">
          <h2>Deja de perder tiempo ingresando a 5 sitios solo para ver tus finanzas</h2>
        </div>
        <div class="text-left">
          <p>Con Wolethub solo tienes que ingresar en nuestro sitio y podrás ver todas tus cuentas he incuso hacer transferencias.</p>
        </div>
      </div>
    </div>
  </div>

    <!-- Container 3: Text on Left, Image on Right -->
    <div class="container my-4">
      <div class="row my-4">
        <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
        <div class="mb-4 text-right">
            <h2>Transfiere dinero y crypto en un solo lugar</h2>
          </div class="text-right">
          <div>
            <p>Nunca más tendrás que ir de un banco a otro haciendo transferencias, en wolethub podrás hacer transferencias de todos tus bancos de manera unificada y simple.</p>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <%= image_tag "Taxes.png", alt: "Placeholder Image", class:"img-fluid mx-auto d-block" %>
        </div>
      </div>
    </div>

  <!-- Container 4: Image on Left, Text on Right -->
  <div class="container my-4">
    <div class="row my-4">
      <div class="col-md-6 d-flex align-item-center">
        <%= image_tag "Investments.png", alt: "Placeholder Image", class: "img-fluid mx-auto d-block" %>
      </div>
      <div class="col-md-6 d-flex justify-content-center flex-column">
          <div class="mb-4 text-left">
          <h2>Ordena tus finanzas</h2>
        </div class="text-left">
        <div>
          <p>Facilitamos el orden de las finanzas personales al tener todo en un mismo lugar, no mas confusiones y mal entendimientos.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<footer class="bg-custom-footer text-white text-center text-lg-start">
  <div class="container-footer p-5">
    <div class="row">

      <!-- Subcontainer 1: Logo -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <%= link_to "/", class: "navbar-brand" do %>
          <%= image_tag "WoletHub negro.svg", class: "logo", alt: "Logo" %>
        <% end %>
      </div>

      <!-- Subcontainer 2: Conócenos -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Conócenos</h5>
        <ul class="list-unstyled mb-0">
          <li><%= link_to "Trabaja con nosotros", "#", class: "text-white" %></li>
          <li><%= link_to "Quienes somos", "#", class: "text-white" %></li>
          <li><%= link_to "Nuestra misión", "#", class: "text-white" %></li>
        </ul>
      </div>

      <!-- Subcontainer 3: ¿Necesitas ayuda? -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">¿Necesitas ayuda?</h5>
        <ul class="list-unstyled mb-0">
          <li><%= link_to "Centro de ayuda", "#", class: "text-white" %></li>
          <li><%= link_to "Emergencias", "#", class: "text-white" %></li>
          <li><%= link_to "Línea ética", "#", class: "text-white" %></li>
        </ul>
      </div>

      <!-- Subcontainer 4: Encuéntranos -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Encuéntranos</h5>
        <ul class="list-unstyled mb-0 d-flex">
          <li class="mx-2"><%= image_tag "instagram.svg", class: "icon-color" %></li>
          <li class="mx-2"><%= image_tag "twitter.svg", class: "icon-color" %></li>
          <li class="mx-2"><%= image_tag "github.svg", class: "icon-color" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
