<div class="container main-container my-5">
  <!-- Container 1: Text on Left, Image on Right -->
  <div class="container my-4">
    <div class="row my-4">
      <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
        <div class="mb-4 text-right">
          <h2>La forma más fácil de ver todas tus finanzas en un solo lugar</h2>
        </div>
        <div class="text-right">
          <p>Ve los balances de todas tus cuentas bancarias y de tus cryptomendas, tambien puedes hacer trasnferencias!</p>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <%= image_tag "Mockup Home.png", alt: "Placeholder Image", class:"img-fluid mx-auto d-block" %>
      </div>
    </div>
  </div>

  <div class="container my-4 container-custom-outline py-1 px-5" style="background: radial-gradient(circle, #cbcbcb 10%, transparent 11%);
        background-size: 1em 1em;
        background-color: #ffffff;
        opacity: 1;
        height: 250px;">
    <div class="row my-4">
        <div class="mb-4 text-center">
          <h2><strong>¿Quieres probar wolethub</strong> <em>GRATIS</em> ?</h2>
        </div>
        <div class="text-center">
          <p><strong>Que estas esperando para ordenar tus finanzas!</strong></p>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-purple-unete btn-unete" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Unete!
          </button>
        </div>
    </div>
  </div>

  <!-- Container 2: Image on Left, Text on Right -->
  <div class="container my-4 container-custom py-1 px-5" style="height: 350px;">
    <div class="row my-4">
      <div class="col-md-6 d-flex justify-content-center">
        <%= image_tag "Online.png", alt: "Placeholder Image", class: "rounded mx-auto d-block"%>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
        <div class="mb-4 text-left">
          <h2>Deja de perder tiempo ingresando a 5 sitios solo para ver tus finanzas</h2>
        </div>
        <div class="text-left">
          <p>Con Wolethub solo tienes que ingresar en nuestro sitio y podrás ver todas tus cuentas he incuso hacer transferencias.</p>
        </div>
      </div>
    </div>
  </div>

    <!-- Container 3: Text on Left, Image on Right -->
    <div class="container my-4">
      <div class="row my-4">
        <div class="col-md-6 d-flex justify-content-center flex-column">
          <div class="mb-4 text-left">
            <h2>Transfiere dinero y crypto <br>en un solo lugar</h2>
          </div class="text-right">
          <div>
            <p>Nunca más tendrás que ir de un banco a otro haciendo transferencias, en wolethub podrás hacer transferencias de todos tus bancos de manera unificada y simple.</p>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <%= image_tag "Taxes.png", alt: "Placeholder Image", class:"img-fluid mx-auto d-block" %>
        </div>
      </div>
    </div>

  <!-- Container 4: Image on Left, Text on Right -->
  <div class="container my-4">
    <div class="row my-4">
      <div class="col-md-6 d-flex align-item-center">
        <%= image_tag "Investments.png", alt: "Placeholder Image", class: "img-fluid mx-auto d-block" %>
      </div>
      <div class="col-md-6 d-flex justify-content-center flex-column">
          <div class="mb-4 text-left">
          <h2>Ordena tus finanzas</h2>
        </div class="text-left">
        <div>
          <p>Facilitamos el orden de las finanzas personales al tener todo en un mismo lugar, no mas confusiones y mal entendimientos.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<footer class="bg-custom-footer text-white text-center text-lg-start">
  <div class="container-footer w-100 p-5">
    <div class="row">

      <!-- Subcontainer 1: Logo -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <%= link_to "/", class: "navbar-brand" do %>
          <%= image_tag "W.svg", class: "logo", alt: "Logo" %>
        <% end %>
      </div>

      <!-- Subcontainer 2: Conócenos -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Conócenos</h5>
        <ul class="list-unstyled mb-0">
          <li><%= link_to "Trabaja con nosotros", "#", class: "text-white" %></li>
          <li><%= link_to "Quienes somos", "#", class: "text-white" %></li>
          <li><%= link_to "Nuestra misión", "#", class: "text-white" %></li>
        </ul>
      </div>

      <!-- Subcontainer 3: ¿Necesitas ayuda? -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">¿Necesitas ayuda?</h5>
        <ul class="list-unstyled mb-0">
          <li><%= link_to "Centro de ayuda", "#", class: "text-white" %></li>
          <li><%= link_to "Emergencias", "#", class: "text-white" %></li>
          <li><%= link_to "Línea ética", "#", class: "text-white" %></li>
        </ul>
      </div>

      <!-- Subcontainer 4: Encuéntranos -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Encuéntranos</h5>
        <ul class="list-unstyled mb-0 d-flex">
          <li class="mx-2"><%= image_tag "instagram.svg", class: "icon-color" %></li>
          <li class="mx-2"><%= image_tag "twitter.svg", class: "icon-color" %></li>
          <li class="mx-2">
            <%= link_to "https://github.com/MKant0/WoletHub", class: "github-link" do %>
              <%= image_tag "github.svg", class: "icon-color" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog vertical-alignment-helper">
    <div class="modal-content-pay vertical-align-center">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="container-custom-outline">
                <div class="container-free">
                  <div class="card-info text-center py-2">
                    <div>
                      <p>Basico</p>
                      <p class="card-valor"><em>0 CLP</em></p>
                    </div>
                    <%= link_to "Empezar", new_user_session_path, class: "btn btn-outline-primary me-2 btn-empezar-free" %>
                    <hr>
                    <p class="card-description text-left">
                      <ul>
                        <li>Puedes tener hasta 2 bancos</li>
                        <li>20 transacciones mensuales gratis</li>
                        <li>Cuentas bancarias ilimitadas</li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-6">
            <div class="container-custom-bg">
              <div class="container-pay">
                <div class="container-pay">
                  <div class="card-info-pay text-center py-2">
                    <div>
                      <p>Recomendado</p>
                      <p class="card-valor"><em>19.900 CLP/año</em></p>
                    </div>
                     <%= link_to "Empezar", new_user_session_path, class: "btn btn-outline-primary me-2 btn-empezar-pay" %>
                     <hr>
                     <p class="card-description-pay text-left px-2">
                      <ul>
                        <li>Bancos ilimitados</li>
                        <li>Transacciones mensuales ilimitadas</li>
                        <li>Acceso a todo el contenido</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
