<!DOCTYPE html>
<html>
  <head>
    <title>WoletHab</title>
    <link rel="icon" type="image/svg" href="mini_logo_WH.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>

    <%= render "shared/navbar" if @navbar == true %>

    <%= render "shared/flashes" %>
    <div class="<%= 'row' if @sidebar == true %>">
      <div class="<%= 'col-2' if @sidebar == true %>">
        <%= render "shared/sidebar" if @sidebar == true %>
      </div>

      <div class="<%= 'col-10' if @sidebar == true %>">
        <%= render "shared/flashes" %>
        <div class="">
         <div class="row">
           <%= yield %>
         </div>
        </div>
      </div>
    </div>

  </body>
</html>
